<!DOCTYPE html>
<html>
<head>
    <title>
    Student Information
</title>

    <h1 style = "text-align: center">Student Personal Details Form</h1>
</head><br/>
 <body>  
    <form>
        Name:<input type = "text"></input><br><br>
        Father's name:<input type = "text"></input><br><br>
        Gender:<br><br>
        Male<input type = "radio"></input>Female<input type = "radio"></input><br><br>
        Email:<input type = "email"></input><br><br>
        Password:<input type = "password"></input><br><br>
        Address:<textarea></textarea>
        <br><br>
        Mobile Number:<input type = "text"></input><br><br>
        Educational Qualification:<input type = "text"></input><br><br>
        Name of the College/Institute:<input type = "text"></input><br><br>
        Courses knowledgeable in:<select>
            <option>Python</option>
            <option>Java</option>
            <option>C</option>
            <option>C++</option>
        </select><br><br>
        Courses you wish to learn:<select>
            <option>Python</option>
            <option>Java</option>
            <option>C</option>
            <option>C++</option>
        </select><br><br>
        <p style = "text-align: right;margin:0px">Signature:_________________</p><br><br>
        <input type = "submit"></input>
    </form>
</body>
</html>